#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:white;
  /* color: #2c3e50; */
}

nav {
  z-index: 1;
  width: 100%;
  padding: 8px 12px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(252, 116, 24);
  margin-bottom: 20px;
  
}

nav a {
  font-weight: bold;
  color: white;
  padding: 8px 30px;
  margin: 0 10px;
}

.nav-list a:hover,.nav-profile a:hover, #homelink:hover
{  
  background-color: #1b1f23;
  border-radius: 3px;
}


nav a.router-link-exact-active {
  color: blue;
}

.nav-logo{
  padding-left: 0;
  height: 50px; 
  display: flex; 
  align-items: center;
}

.logo-image{
  height: 70px; 
  width: auto;
  margin: auto ;
}

.nav-list{
  display: flex;
  margin: 0;
  padding-left: 0;
}

.nav-profile{
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-right: 30px;
}

.nav-profile > div {
  display: flex;
  margin: 0;
  
}

body {
  /* background: #2c3e50; */
  background-image: url('@/assets/img/temp_bg_img.jpg');
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
}

.comments .logos {
  height:40px;
  width: 45px;
}



/* .modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
} */

footer {
  padding:20px;
}